body {
    background: powderblue;
}

.header {
    text-align: center;
}
p {
    text-align: center;
    font-family: "Adobe Hebrew";
}
img {
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    margin: auto ;
    padding:20px;
    background-color: chartreuse;
    color: white;
    text-align: center;

}