<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chuck Norris Quotes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header class="header">
    <h1>Chuck Norris Quotes</h1>
</header>


        <img src="https://vignette.wikia.nocookie.net/joke-battles/images/7/79/1550715-chuck_norris_2.jpg/revision/latest/scale-to-width-down/275?cb=20151201004133">


<p th:text="${jokes}" ></p>



<button onclick="myFunction()">Next joke</button>

<script>
    function myFunction() {
        location.reload();
    }
</script>

</body>
</html>